.mino {
    background-image: radial-gradient(
        farthest-corner at 4px 6px,
        rgba(204, 238, 247, 0.3) 0%,
        rgba(106, 197, 220, 0.3) 100%
    );
    border: 1px solid rgba(127, 229, 255, 0.7);
    border-radius: 0.3vmin;
    box-shadow: -1px -1px 4px rgba(128, 128, 128, 25%),
        -1px 1px 4px rgba(128, 128, 128, 25%),
        1px -1px 4px rgba(128, 128, 128, 25%),
        1px 1px 4px rgba(128, 128, 128, 25%);
}

.ghost.mino {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.3vmin;
}

.locked.mino {
    background: rgba(242, 255, 255, 0.5);
    border-color: rgba(242, 255, 255, 0.7);
}